<?xml version="1.0"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <!--是否开启请求日志-->
  <add key ="ApiRequestLogEnabled" value="true"/>
  <!--请求过期时间（秒）-->
  <add key="RequestExpireTime" value="30" />
</appSettings>